.DS_Store
.env
.env.local
.env.development
.env.production
.env.test
.idea
*.xml

.venv

/experiments/data/*
!/experiments/data/tiny-imagenet-200/
/experiments/data/tiny-imagenet-200/*
!/experiments/data/tiny-imagenet-200/val/

/experiments/results
/models/
*.png
*.json
/writing
*analysis_report.md
